@use "variables" as *;
@font-face {
  font-family: 'Gmarket Sans';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gmarket Sans';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

.container{
  width: 100%;
  height: 100%;
  display: flex;
}

.btn-secondary{
  background: $secondary !important;
  color: $primary !important;
  border: 1px solid $light !important;
}

.d-flex{
  display: flex;
  &.aic{
    align-items: center;
  }
  &.aifend{
    align-items: flex-end;
  }
  &.jcc{
    justify-content: center;
  }
  &.jcsb{
    justify-content: space-between;
  }
}