// color
$blue: #2D73F8;
$red: #FF4C2B;
$white: #fff;
$black: #000;
$gray-1: #EDEDED;
$gray-2: #DBDBDB;
$gray-3: #C9C9C9;
$gray-4: #949494;
$gray-5: #6C6C6C;
$gray-6: #2B2B2B;
$tran: transparent;
$purple: #856CFE;
$purple-light: #F3F0FF;
$purple-border: #D9D1FF;
$orange: #FDB526;
//
$primary: $blue;
$text: $gray-6;
$text-muted: $gray-4;